In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [6]:
file_path = r'C:\Users\KunalGu\Downloads\demo1_historic.csv'

In [7]:
df_student_historic_data = pd.read_csv(file_path)

In [8]:
df_student_historic_data.shape

(1000, 10)

In [9]:
df_student_historic_data.head()

,ID,Age,Is_Married,Has_Children,Children_Count,Home_Distance,Drinks_Tea,Lectures_Missed,Average_Assignments_Score,Exam_Result
0,S1,41,1,1,3,23,0,1,41,1
1,S2,37,0,0,0,5,1,8,75,1
2,S3,49,0,0,0,44,1,9,52,1
3,S4,24,0,0,0,40,1,1,54,1
4,S5,48,1,1,3,36,0,2,32,1

In [14]:
df_student_historic_data.query('Has_Children==0 and Children_Count>0')

Empty DataFrame
Columns: [ID, Age, Is_Married, Has_Children, Children_Count, Home_Distance, Drinks_Tea, Lectures_Missed, Average_Assignments_Score, Exam_Result]
Index: []

In [16]:
df_student_historic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
ID                           1000 non-null object
Age                          1000 non-null int64
Is_Married                   1000 non-null int64
Has_Children                 1000 non-null int64
Children_Count               1000 non-null int64
Home_Distance                1000 non-null int64
Drinks_Tea                   1000 non-null int64
Lectures_Missed              1000 non-null int64
Average_Assignments_Score    1000 non-null int64
Exam_Result                  1000 non-null int64
dtypes: int64(9), object(1)
memory usage: 78.2+ KB

### Feature Selection and Data Splitting

In [18]:
df_features = df_student_historic_data.drop(['ID', 'Exam_Result'], axis=1)
df_features.shape

(1000, 8)

In [19]:
labels = df_student_historic_data['Exam_Result']

In [37]:
X_train, X_test, y_train, y_test = train_test_split(df_features, labels, random_state=0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(750, 8) (750,)
(250, 8) (250,)

### Create Model

In [38]:
rfc_model_1 = RFC(random_state=0)
rfc_model_1.fit(X_train, y_train)
rfc_model_1_y_hat = rfc_model_1.predict(X_test)

C:\Users\KunalGu\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [40]:
y_actual = pd.Series(y_test.values, name='Actual')
y_predicted = pd.Series(rfc_model_1_y_hat, name='Predicted')
confusion_matrix = pd.crosstab(y_actual, y_predicted)
confusion_matrix

Predicted   0    1
Actual
0          45   52
1          34  119

In [ ]:
0 - false
1- true
0th row - negative, true negative
1th row - true negative, true positive